.history{
  margin: 20px 20px 0 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  max-width: 500px;
  color: #779CAB;
  font-weight: bold;
}

.timeRange{
  display: flex;
  align-items: center;
}

.timeRange input:first-child{
  margin-right: 10px;
}

.timeRange input{
  width: 100%;
  margin-top: 5px;
  padding: 5px 10px;
  border: 2px solid #779CAB;
  color:#779CAB;
  font-weight: bold;
}
