.chartsContainer{
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
}

.tabs{
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #779CAB;
}

.tabs li{
  list-style: none;
  position: relative;
}

.tabs li button{
  width: 100%;
  height: 100%;
  padding: 20px;
  border: none;
  background: none;
  color: white;
  font-weight: bold;
}

.tabs .selected{
  background-color: white;
}

.tabs .selected button{
  color: #779CAB;
  font-weight: bold;
}

.chartContainer{
  opacity: 0;
  position: absolute;
  z-index: 0;

}
.chartContainer.show{
  opacity: 1;
  z-index: 1;
  position: relative;
}