.container{
  width: 100%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container line{
  stroke: #c0c0bb;
}

.container #vis-container{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}