.history{
  margin: 50px 20px 0 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  width: fit-content;
  color: #779CAB;
  font-weight: bold;
  align-self: center;
  text-align: center;
}

.timeRange{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.timeRange input:first-child{
  margin-right: 10px;
}

.timeRange input{
  width: 100%;
  max-width: 135px;
  margin-top: 5px;
  padding: 5px 10px;
  border: 2px solid #779CAB;
  color:#779CAB;
  font-weight: bold;
  height: 40px;
}

.timeRange select{
  width: 100%;
  padding: 5px 10px;
  border: 2px solid #779CAB;
  color:#779CAB;
  font-weight: bold;
  height: 40px;
  margin: 5px 0 0 10px;
  max-width: 100px;

}

.timeRange a{
  margin: 5px 10px 0 20px;
  white-space: nowrap;
  color: #dd7373;
}

