.history{
  margin: 20px 20px 0 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  max-width: 92%;
  width: fit-content;
  color: #779CAB;
  font-weight: bold;
}

.timeRange{
  display: flex;
  align-items: center;
}

.timeRange input:first-child{
  margin-right: 10px;
}

.timeRange input{
  width: 100%;
  margin-top: 5px;
  padding: 5px 10px;
  border: 2px solid #779CAB;
  color:#779CAB;
  font-weight: bold;
  height: 40px;
  min-width: 170px
}

.timeRange select{
  width: 100%;
  padding: 5px 10px;
  border: 2px solid #779CAB;
  color:#779CAB;
  font-weight: bold;
  height: 40px;
  margin: 5px 0 0 30px;
}

.timeRange a{
  margin-left: 40px;
  white-space: nowrap;
  color: #dd7373;
}

